<div class="container p-5 ">
        <h1>Informacion</h1>
        <table class="table" >
            <thead>
              <tr>
                <h3>Datos</h3>
              
            </thead><td>ArgumentosDeEntrada  <br>  {{data.ArgumentosDeEntrada}}</td></tbody>
            </thead><td>SistemaOperativo  <br>  {{data.SistemaOperativo}}</td></tbody>
            </thead><td>VersionDeNodeJS  <br>  {{data.VersionDeNodeJS}}</td></tbody>
            </thead><td>MemoriaTotalReservada  <br>  {{data.MemoriaTotalReservada}}</td></tbody>
            </thead><td>PathDeEjecucion  <br>  {{data.PathDeEjecucion}}</td></tbody>
            </thead><td>ProcessId  <br>  {{data.ProcessId}}</td></tbody>
            </thead><td>CarpetaDelProyecto  <br>  {{data.CarpetaDelProyecto}}</td></tbody>
          </table>
    </div>